.icons li {
  display: inline-block;
}
.p {
  font-size: 8px !important;
}

.icons li {
  display: inline-block;
  font-size: 28px !important;
  margin-top: 15px;
  color: white;
}

.icons-1 li {
  display: inline-block;
  margin-top: 5px;
}
.container {
  margin-top: 20px;
}
.card-header {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-top: 30px;
}

a {
  color: white !important;
}
.card {
  margin-top: 20px;
}

