.container-fluid {
  margin-top: 20px;
}
.text {
  /* color: rgb(158, 98, 98); */
  text-align: center;
}
.card {
  margin: 5px ;
  color: rgb(49, 232, 238) !important;
}

.header {
  margin: 0px !important;
  padding-left: 0% !important;
}

.card-img-top:hover {
  transform: scale(1.8) !important;
  transition: transform 0.5s ease;
}
.overflow {
  overflow: hidden !important;
}
.card-img-top {
  transform: scale(1) !important;
}
a {
  margin: 1px;
}
.icons li {
  display: inline-block;
}
