.navbar-dark .navbar-nav .nav-link {
  color: rgba(102, 221, 92, 0.986) !important;
  font-size: 20px !important;
  text-align: center;
  font-family: "Big Shoulders Stencil Text", cursive;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(1, 253, 253) !important;
  font-size: 22px !important;
}
.bg-dark {
  background-color: black !important;
}

#responsive-navbar-nav {
  line-height: 20px !important;
}
a.navbar-brand {
  color: #0f0 !important;
  font-family: "Big Shoulders Stencil Text", cursive;
  font-size: 20px !important;
}
